<div class="row field">
  <div class="small-4 columns">
    <%= f.text_field :title, placeholder: 'title' %>
  </div>
  <div class="small-6 columns">
    <%= f.text_field :text, placeholder: 'longer passages/detail' %>
  </div>
  <div class="small-2 columns">
    <%= f.link_to_remove 'remove', class: 'right alert tiny button' %>
  </div>
</div>