<!-- Bill Options -->
<div class="row">
  <div class="right button-bar">
    <!-- Action Buttons -->
    <ul class="button-group">
      <li><%= link_to 'Show', meeting_path(@meeting), class:'tiny button' %></li>
      <li><%= link_to 'All', meetings_path, class:'tiny button' %></li>
      <li><%= link_to('Delete', meeting_path,
                      method: "delete", class: 'tiny alert button',
                      data: { confirm: 'Are you sure you want to delete this?'}) %></li>
    </ul>
  </div>
</div>

<h1>Editing Meeting</h1>

<%= render 'form' %>