<!-- Meeting Options -->
<div class="right button-bar">
  <!-- Action Buttons -->
  <ul class="button-group">
    <li><%= link_to 'All Meetings', meetings_path, class:'tiny button' %></li>
  </ul>
</div>

<h2>New Meeting</h2>

<%= render 'form' %>
