<h2>Docket</h2>
<p>
  <strong>For Meeting:</strong>
  <%= @docket.organization.name.to_s + ' on ' + @docket.meeting.date.to_s %>
</p>

<%= link_to 'Edit', edit_docket_path(@docket), class: 'small button' %>
<%= link_to 'All Meetings', meetings_path, class: 'small button' %>
