<!-- Legislation Options -->
<div class="row">
  <div class="right button-bar">
    <!-- Action Buttons -->
    <ul class="button-group">
      <li><%= link_to 'All', statuses_path, class:'tiny button' %></li>
    </ul>
    <ul class="admin button-group">
      <li><%= link_to 'Edit', edit_status_path(@status), class:'tiny button' %></li>
      <li><%= link_to('Delete', status_path,
                      method: "delete", class: 'tiny alert button',
                      data: { confirm: 'Are you sure you want to delete this?'}) %></li>
    </ul>
  </div>
</div>

<!--Content-->
<h2><%= @status.title %></h2>

<p>Nothing here yet!</p>
