<div class="row">
  <div class="small-12 columns">

    <!-- Bill Options -->
    <div class="right button-bar">
      <!-- Action Buttons -->
      <ul class="button-group">
        <li><%= link_to 'Show', bill_path(@bill), class:'tiny button' %></li>
        <li><%= link_to 'All', bills_path, class:'tiny button' %></li>
        <li><%= link_to('Delete', bill_path,
                        method: 'delete', class: 'tiny alert button',
                        data: { confirm: 'Are you sure you want to delete this?'}) %></li>
      </ul>
    </div>

    <h2>Editing Legislation</h2>

    <%= render 'form' %>
  </div>
</div>