<% content_for :title, 'Bills' %>

<!--Header and New Button-->
<%= render 'bills/admin_buttons' if user_signed_in? %>

<div class="row">
  <h2>Listing Bills</h2>

  <!--Bill Listing -->
  <% cache [recent_bills_cache_name, Bill.latest] do %>
      <div class="row">
        <div class="small-12 columns">
          <%= render @bills %>
        </div>
      </div>
  <% end %>

  <br>

  <!--Pagination-->
  <div class="row">
    <div class="small-12 columns">
      <%= paginate @bills %>
    </div>
  </div>
</div>



