<div class="row">
  <div class="small-12 columns">
    <h2>Editing Legislation</h2>

    <%= render 'form' %>

    <%= link_to 'Show', @legislation, class:'small button' %>
    <%= link_to 'Back', legislations_path, class: 'small button' %>
  </div>
</div>