<div class="row">
  <div class="small-12 columns">

    <!-- Legislation Options -->
    <div class="right button-bar">
      <!-- Action Buttons -->
      <ul class="button-group">
        <li><%= link_to 'All Legislation', legislations_path, class:'tiny button' %></li>
      </ul>
    </div>

    <h2>New Legislation</h2>

    <%= render 'form' %>

  </div>
</div>
