<!--Add Level Field-->
<fieldset>
  <div class="row field">
    <div class="small-12 columns">
      <b>Sub Paragraph (A.)</b>
      <%= f.link_to_remove 'remove', class: 'right alert tiny button' %>
    </div>
  </div>
  <div class="field">
    <%= f.label :text, 'Sub Paragraph Content' %>
    <%= f.text_area :text, placeholder: 'content for sub paragraphs' %>
  </div>
</fieldset>