//Import Vendor Styles
@import 'diffy';
@import 'jquery-te-1.4.0';

/* Hacky fix for modal background not filling entire screen */
.reveal-modal-bg { position: fixed }

.bill-no {
	font-family: $slab-fonts;
	font-weight: bold;
}

.sponsor {
	text-transform: uppercase;
	letter-spacing: 1px;
	padding-top: 0.5em;
}

