<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright no one at all. v0.0.2</p>
      </div>
      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><%= link_to 'Commit Log', 'https://github.com/leesharma/legislative_twitter/commits/master' %></li>
          <li><%= link_to 'Feature List', 'https://github.com/leesharma/legislative_twitter/wiki/Features-List' %></li>
          <li><%= link_to 'GitHub', 'https://github.com/leesharma/legislative_twitter/' %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>