<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to 'Troy City Council', :root %></h1>
    </li>
    <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="admin has-dropdown">
        <a href="#">Create New...</a>
        <ul class="dropdown">
          <li><%= link_to '...Organization', new_organization_path %></li>
          <li><%= link_to '...Meeting', new_meeting_path %></li>
          <li><%= link_to '...Legislation', new_legislation_path %></li>
        </ul>
      </li>
      <li class='' id="admin-toggle"><a href="#">Toggle Admin Mode</a></li>
    </ul>

    <!-- Left Nav Section -->
    <!--<ul class="left">
      <li><a href="#">Left Nav Button</a></li>
    </ul>-->
  </section>
</nav>