<% if flash[:notice] %>
    <div id="mainAlert1" data-alert class="notice alert-box" tabindex="0" aria-live="assertive" role="dialogalert">
      <%= flash[:notice] %>
      <button href="#" tabindex="0" class="close" aria-label="Close Alert">&times;</button>
    </div>
<% end %>