<a href="#feedback-form" class="hide-on-med-and-down waves-effect waves-dark btn side-button feedback modal-trigger">
  <%= material_icon 'bug_report', align: 'left' %>Feedback
</a>

<!-- Modal Structure -->
<div id="feedback-form" class="modal  bottom-sheet">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>
