<!-- TODO: create footer content -->
<!--
  <footer class="row">
  <div class="large-12 columns">
  <hr/>
  <div class="row">
  <div class="large-6 columns">
  <p>© Copyright 2015 under the <%#= link_to 'MIT License', 'http://opensource.org/licenses/MIT' %>.<br />
  <%#= heroku_version %>
  </p>
  </div>
  <div class="large-6 columns">
  <ul class="inline-list right">
  <li><%#= link_to 'Developer Hub', root_url(subdomain: 'developer') %></li>
  <li><%#= link_to 'Commit Log', 'https://github.com/leesharma/legislative_twitter/commits/master' %></li>
  <li><%#= link_to 'Feature List', 'https://github.com/leesharma/legislative_twitter/wiki/Features-List' %></li>
  <li><%#= link_to 'GitHub', 'https://github.com/leesharma/legislative_twitter/' %></li>
  </ul>
  </div>
  </div>
  </div>
  </footer>
-->
<footer class="page-footer blue-grey darken-1">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="blue-grey-text text-lighten-5">Troy City Tracker</h5>
        <p class="blue-grey-text text-lighten-4 light">The Troy City Tracker is designed to keep, track, and archive legislation; generate minutes and agendas; and streamline the workflow of the city clerk.</p>


      </div>
      <div class="col l3 s12">
        <h5 class="blue-grey-text text-lighten-5">Settings</h5>
        <ul>
          <li><a class="" href="#!">Link 1</a></li>
          <li><a class="" href="#!">Link 2</a></li>
          <li><a class="" href="#!">Link 3</a></li>
          <li><a class="" href="#!">Link 4</a></li>
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="blue-grey-text text-lighten-5">Connect</h5>
        <ul>
          <li><a class="" href="#!">Link 1</a></li>
          <li><a class="" href="#!">Link 2</a></li>
          <li><a class="" href="#!">Link 3</a></li>
          <li><a class="" href="#!">Link 4</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made by <a class="" href="http://materializecss.com">Materialize</a>
    </div>
  </div>
</footer>
